html {
    overflow:hidden;
}

iframe {
    padding-top: 30px;
}
ul {
    position:fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #555;
}

li {
    float: left;
    transition:.5s;
    //border: 1px solid #111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    
}

li:not(.active):hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    color: white;
}